header {
    background-color: #1b1c1d;
}

#submit {
    border-top-right-radius: .28571429rem!important;
    border-bottom-right-radius: .28571429rem!important;
}

#btnZone {
    line-height: 3em;
}

.image {
    position: relative;
}

.ui.segment {
    box-shadow: none;
    border: none;
}

.ui.image {
    margin: 10px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

img:hover {
    cursor: url("../images/playpause.png"), pointer;
}