header {
    background-color: #1b1c1d;
}

#submit {
    border-top-right-radius: .28571429rem!important;
    border-bottom-right-radius: .28571429rem!important;
}

#btnZone {
    line-height: 3em;
}

.ui.segment {
    box-shadow: none;
    border: none;
}

.ui.image {
    margin: 10px;
}

img:hover {
    cursor: url("../images/playpause.png"), pointer;
}